AZOPS_SUBSCRIPTION_ID=
AZOPS_TENANT_ID=
AZOPS_CLIENT_ID=
AZOPS_CLIENT_SECRET=
AZOPS_AUTH_MODE=auto
AZOPS_OUTPUT=plain
AZOPS_FUNCTIONS_BASE_URL=http://localhost:7071
AZOPS_KEY_VAULT_NAME=
AZOPS_KEY_VAULT_URI=
